#TrendCardsItem
 display: flex
 flex-direction: column
 padding-left: 1rem
 justify-content: flex-end
 align-items: center

#TrendCardsItem
 img
  height: 14rem
  width: 8rem
  border-radius: 0.3rem
 p
  text-align: center
  width: 8rem
  height: 3rem
  font-size: 0.8rem