.ListBox
 border: 2px solid black
 padding: 2rem
 width: 50rem
 display: flex
 flex-direction: column
 border-radius: 5px
 margin-top: 2rem

.ListBox
 h2
  width: fit-content


.TrendCards
 display: flex
 flex-direction: row
 
 
