.ListBox
 border: 2px solid black
 padding: 2rem 0rem 2rem 2rem
 width: 50rem
 display: flex
 flex-direction: column
 border-radius: 5px
 margin-top: 1rem
 h2
  padding-left: 10px
  width: fit-content

.NoListBox
 visibility: hidden
 border: 2px solid black
 padding: 2rem 0rem 2rem 2rem
 width: 50rem
 display: flex
 flex-direction: column
 border-radius: 5px
 margin-top: 1rem
 


 

.TrendCards
 display: flex
 flex-direction: row
 
 
