$pad: 0.5rem 1rem
$bckcol: #ddd
@mixin hoverFunc($dsp: block,$pos: relative,$bottom: 2rem,$pdng: $pad,$brdr: 2px,$bgcolor: $bckcol,$crsr: pointer,$vsb: hidden)
  display: $dsp
  position: $pos
  bottom: $bottom
  padding: $pdng
  border-radius: $brdr
  background-color: $bgcolor
  cursor: $crsr
  visibility: $vsb


.HoverProduct
  @include hoverFunc($vsb: visible)
  

.NonHoverProduct
  @include hoverFunc()