.suggestionList
 display: flex
 flex-direction: column
 

.suggestionList
 h4
  margin: 0 0 0 0
  padding-bottom: 20px 
 .suggestionListItems
   
   div
    
    padding-top: 5px
    padding-bottom: 5px
 
 