.productSectionList
 display: grid
 grid-template-columns: 1fr 1fr 1fr 1fr
 border: 2px solid black
 justify-items: center

.filterProduct
 display: flex
 justify-content: center
 margin-top: 2rem

.productSection
 width: 90%
 text-align: center
 padding: 2rem
 border: 2px solid red
 margin: auto
 h3
  text-align: left
  font-size: 1.5rem
