.productSectionList
 display: grid
 grid-template-columns: 1fr 1fr 1fr
 justify-items: center
 width: 60rem

.filterProduct
 display: flex
 justify-content: center
 margin-top: 2rem

.productSection
 width: 90%
 text-align: center
 padding: 2rem
 margin: auto
 h3
  text-align: left
  font-size: 1.5rem

.productSectionListDummy
 width: 30rem

.lazyLoader
 height: 25rem
 margin-top: 2rem 
 max-width: 345
 
 
 
 
 